<div class="general-block-decorator">
    <div class="row">

        <div class="col-md-12 title title-without-tabs">
            {intl d='infobanner.bo.default' l='Edit your InfoBanner Configuration.'}
        </div>

        <div class="form-container">
            <div class="col-md-12">
                {include file="includes/inner-form-toolbar.html"
                hide_submit_buttons = true
                hide_flags = true
                }
                {form name="infobanner.configuration.form"}
                <form method="POST" id="infobanner-form"  action="{url path="/admin/module/InfoBanner/save"}" {form_enctype} class="clearfix">

                {form_hidden_fields}

                {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
                {/if}

                {render_form_field field="success_url" value={url path="/admin/module/InfoBanner"}}
                {form_field field='infoBannerId'}
                <div class="form-group {if $error}has-error{/if}">
                    <label for="{$label_attr.for}" class="control-label">{$label} : </label>
                    <input type="text" id="{$label_attr.for}" name="{$name}" class="form-control" title="{$label}" value="{$value}" />
                </div>
                {/form_field}

                <button type="submit" id="infobanner-save" name="infobanner_save" value="save" class="form-submit-button btn btn-sm btn-default" title="{intl d='infobanner.bo.default' l='Save'}">{intl d='infobanner.bo.default' l='Save'}</button>
                </form>
                {/form}

            </div>

        </div>

    </div>
</div>

