<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>InfoBanner\InfoBanner</fullnamespace>
    <descriptive locale="en_US">
        <title>Information Banner</title>
        <description>A single line of text across the top of the front office, edited from the module configuration screen.</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Bandeau d'information</title>
        <description>Une ligne de texte en haut du front office, saisie depuis l'écran de configuration du module.</description>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.0.0</version>
    <authors>
        <author>
            <name>Loïc MO</name>
            <email>lmo@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>3.0.0</thelia>
    <stability>prod</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
